.row
  %article.note.col-xs-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2
    %h3
      Doctoraatsonderzoek
    %p
      Momenteel ben ik als Aspirant van het FWO (Fonds Wetenschappelijk Onderzoek – Vlaanderen) verbonden aan het Centrum voor Europese Filosofie van de Universiteit Antwerpen. Daar werk ik aan een doctoraatsonderzoek met als titel&nbsp;
      %strong> Literature, Truth and Meaning
      ! . Concreet probeer ik in mijn onderzoek een antwoord te formuleren op de vraag wat de cognitieve waarde van literaire fictie is. In 2018 mocht ik hierover kort iets vertellen in het één programma&nbsp;
      %em> Iedereen Beroemd
      ! . 
      .vid
        .youtube{ :data => { :embed => 'iAo3I0TDU5A' } }
          .play-button"> 
      %p  
        In datzelfde jaar schreef ik ook een stukje voor de filosofische blog 
        %a{ :target => "_blank", :href => "https://bijnaderinzien.org/2018/02/12/leidt-literatuur-tot-kennis/" } Bij nader inzien
        waarin ik mijn insteek in het hedendaagse debat uiteen zet. Daarnaast verscheen er ook een wetenschappelijk artikel over 
        %strong{ :style => "font-weight:normal" } Paul Ricoeurs
        concept van de productieve verbeelding en de waarde daarvan voor het debat over de cognitieve waarde van literaire fictie in een themanummer rond filosofie en literatuur van het tijdschrift&nbsp;
        %em> Metodo
        ! .
    %p
      Daarnaast was ik gasthoofdredacteur van een themanummer rond de cognitieve waarde van fictie voor het tijdschrift&nbsp;
      %a{ :href => "https://www.aestheticinvestigations.eu/index.php/journal/issue/view/8", :target => "_blank" }> Aesthetic Investigations
      ! .
    %p
      In het najaar van 2019 verscheen bovendien mijn boek&nbsp;
      %a{ :href => "http://letterwerk.be/publ/watdelezer.html", :target => "_blank" }>
        %em> Wat de lezer leert
      , waarin hetzelfde onderzoek centraal staat.
    %p
      Sinds 2017 ben ik ook bestuurslid bij het 
      %a{ :href => "http://nge.nl", :target => "_blank" } Nederlands Genootschap voor Esthetica 
      en sinds begin 2020 maak ik deel uit van de redactie van het&nbsp;
      %a{ :href => "https://www.aup.nl/nl/journal/algemeen-nederlands-tijdschrift-voor-wijsbegeerte", :target => "_blank" }> Algemeen Nederlands Tijdschrift voor Wijsbegeerte 
      ! .  


.row
  %article.note.col-xs-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2
    %h3
      Masterthesis
    %p
      Ook het onderzoek voor mijn 
      %a{ :target => "_blank", :href => "https:www.academia.edu/7798212/De_literaire_ervaring_een_esthetische_ervaring" } masterthesis 
      bevond zich in het domein van de literatuurfilosofie. Specifiek richte mijn masterthesis zich op de vraag of de literaire ervaring beschouwd kan worden als een esthetische ervaring. Een deel van mijn argumentatie werkte ik daarna verder uit in een 
      %a{ :target => "_blank", :href => "http://www.aestheticinvestigations.eu/index.php/journal/article/view/37" } Engelstalig artikel 
      dat in 2015 verscheen in het tijdschrift Aesthetic Investigations.


.row
  %article.note.col-xs-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2 
    %h3
      Bachelorscriptie
    %p
      De focus van mijn
      %a{ :target => "_blank", :href => "https://www.academia.edu/7798211/De_geëconomiseerde_samenleving._Nussbaum_en_Achterhuis_in_confrontatie_met_de_Frankfurter_Schule" } bachelorscriptie 
      lag verder verwijderd van mijn huidige onderzoek. Op basis van de kritiek die Max Horkheimer en Theodor W. Adorno in de jaren 1940 formuleerden op de cultuurindustrie analyseerde ik twee recente kritieken op het neoliberalisme, namelijk Hans Achterhuis’ De utopie van de vrije markt en Martha Nussbaum’s Not for Profit en Creating Capabilities.


.row
  %article.note.col-xs-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2
    %h3
      Blog
    %p
      Naast mijn academisch werk schrijf ik ook regelmatig kleinere, toegankelijkere artikels voor andere doeleinden. De meeste van die teksten zijn ook terug te vinden op mijn&nbsp;
      %a{ :target => "_blank", :href => "http://leenverheyen.wordpress.com" }> blog
      ! .