
.row
  .jumbotron
    = image_tag "leen_parijs.jpg", { :alt => "Leen Verheyen draagt voor op de Parijsavond van deBuren", :width => "100%", :height => "auto" }
  
.row
  %article.note.col-xs-12.col-md-8.offset-md-2
    %p 
    Filosofie en literatuur zijn waarschijnlijk de woorden waarmee mijn werk het best valt samen te vatten. Na een opleiding drama aan het conservatorium van Gent werkte ik als theatermaker, –auteur en –docent. Ik schreef theaterteksten voor gezelschappen als Villanella, HETPALEIS en Luxemburg en regisseerde daarnaast ook eigen voorstellingen. Mijn theaterwerk had daarbij bijna altijd een belangrijke onderzoekende component. Veel van mijn teksten kwamen tot stand na een lange periode van research en vormden de artistieke weergave van mijn eigen worstelingen of fascinaties ten opzichte van bepaalde maatschappelijke of menselijke fenomenen.
    
    %p 
      Daarnaast begon ik aan een opleiding filosofie aan de Universiteit Antwerpen. Die opleiding mondde uiteindelijk uit in een doctoraatsonderzoek in de literatuurfilosofie. In het bijzonder onderzoek ik daarbij welke invloed literaire fictie kan uitoefenen op onze blik op en ons handelen in de wereld. Dit onderwerp staat ook centraal in mijn eerste filosofische boek, 
      %a{ :href => "http://letterwerk.be/publ/watdelezer.html", :target => "_blank" }
        %em
          Wat de lezer leert
      , dat in het najaar van 2019 verscheen bij Letterwerk.
  
    %p Op deze website vind je meer informatie over zowel mijn filosofisch onderzoek als mijn literair werk (proza/theater/film).
      
    
  