.row
  %article.note.col-xs-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2
    %h3
      Theater
    %p
      Het grootste deel van mijn literair werk bestaat uit theaterteksten. De meeste van die teksten zijn gratis te downloaden op deze website.
    %p
      In 2008 schreef ik als bachelorproef voor mijn drama-opleiding de theatertekst <a target=_blank href='../documents/parkeerterreinenblues.pdf'><strong>Parkeerterreinenblues</strong></a>.<div class='vid'><div class="youtube" data-embed='WBJSRUoBVCk'><div class="play-button"></div></div></div> In deze theatertekst voor twee spelers gaat een vrouw de confrontatie aan met de man die een paar maanden eerder haar dochter heeft doodgereden.
    %p
      Een jaar later maakte ik als masterproef de voorstelling <a target=_blank href='../documents/human_interest.pdf'><strong>Human Interest</strong></a>. Voor deze voorstelling deed ik onderzoek naar school shootings en andere vormen van mass shootings. De tekst bestaat uit twee monologen die door elkaar lopen en schijnbaar met elkaar in dialoog gaan, doorkruist door muziek.<br>
    %p  
      Theatergezelschap Plankton Hotel maakte later op basis van deze tekst de voorstelling&nbsp;
      %a{ :target => "_blank", :href => "http://www.planktonhotel.be/blikschade.html" }>
        %strong Blikschade
        ! .
    %p
      In 2010 maakte ik samen met muzikanten Jan Evenepoel en Sim Van Thienen van&nbsp;
      %a{ :target => "_blank", :href => "http://vi.be/headfullofflames" }> Head Full of Flames
      de locatievoorstelling&nbsp; 
      %a{ :target => "_blank", :href => "../documents/autoroute_du_soleil.pdf" }>
        %strong autoroute du soleil
      ! . Ook deze voorstelling bestaat uit twee monologen die af en toe met elkaar interageren. Twee personages vertellen het verhaal van een man die na een vechtscheiding met zijn dochter naar het buitenland vertrekt.
    .vid
      .youtube{ :data => { :embed => "YYZbP7xZpG8" } } 
        .play-button
    %p
      Een jaar later werkte ik opnieuw samen met Jan Evenepoel en Sim Van Thienen voor de monoloog&nbsp;
      %a{ :target => "_blank", :href => "../documents/smallfilm.pdf" }>
        %strong Smallfilm
      ! . Voor deze tekst onderzocht ik het fenomeen van de zogenaamde altruïstische kindermoord. Een meisje richt haar videocamera op het raam van haar buurvrouw. En kijkt. Een waanzinnig universum openbaart zich.
    %p  
      Daarnaast schreef ik ook enkele theaterteksten voor een jong publiek. In 2009 schreef ik in het kader van het project HETPALEISdebutanten van 
      %a{ :target => "_blank", :href => "http://www.hetpaleis.be/" } HETPALEIS 
      twee teksten voor kinderen. 
      %a{ :target => "_blank", :href => "../documents/meestal_regende_het.pdf" }
        %strong Meestal regende het 
      is een tekst voor kinderen vanaf 8 jaar over een jongen die een hele wereld in karton creëert en een meisje dat probeert breed te worden. 
      %a{ :target => "_blank", :href => "../documents/sarie_mijn_vriend_kaspar_en_ik.pdf" }
        %strong Sarie, mijn vriend Kaspar en ik
      is een tekst voor kleuters over een ogenschijnlijk onschuldig logeerpartijtje dat uitdraait op een gevaarlijk spel.
    %p
      Voor het participatieproject &quot;Bij de buren&quot;, waarmee jeugdtheatergezelschap Luxemburg kinderen en hun gezinnen laat proeven van theater, bewerkte ik het prentenboek “Keepvogel. Het diepste gat” van Wouter van Reek tot een theatertekst.
    %p
      Samen met Nele Van den Broeck schreef ik voor kinderen vanaf 5 jaar ook de tekst 
      %a{ :target => "_blank", :href => "../documents/kwijt.pdf" }
        %strong Kwijt 
      waarin er allerlei absurde situaties ontstaan wanneer plots alle woorden kwijt blijken te zijn.
    %p
      Ook met Margot Vyverman werkte ik samen aan theaterteksten. In 2011 maakten we samen de radiotheatervoorstelling 
      %strong Benefiet voor een komende natuurramp
      waarin we grote benefietprogramma’s parodiëerden, inclusief een benefietlied met bijbehorende videoclip.
      .vid
        .youtube{ :data => { :embed => "lfILb47y_EQ" } } 
          .play-button
    %p    
      Een jaar later maakten we, geïnspireerd op de documentaire “How to Start Your Own Country”, de voorstelling&nbsp;
      %strong> Banitova
      ! .
    .vid
      .youtube{ :data => { :embed => "KoZ9kRt6SB0" } } 
        .play-button
    %p
      Mijn recentste tekst voor theater zijn enkele korte verhaaltjes voor kinderen die ik schreef in opdracht van 
      %a{ :target => "_blank", :href => "http://www.huisbinnenweg.be" } Huis Binnenweg 
      voor hun muziek- en vertelvoorstelling Verteller en vriendinnetjes grote verhalenfestival. Deze voorstelling is komend seizoen op tournee. 
    
.row
  %article.note.col-xs-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2
    %h3 Proza
    %p
      Naast theaterteksten schrijf ik ook proza. Met mijn kortverhaal Sebastiaan was ik laureaat van WriteNow! Gent in 2009. Het verhaal werd daarna ook gepubliceerd in de bloemlezing Print is Dead. Nieuwe schrijvers uit Vlaanderen, uitgegeven bij Meulenhoff/Manteau. In 2013 belande mijn kortverhaal 
      %strong U 
      op de longlist van de Lowlands schrijfwedstrijd en werd het verhaal gepubliceerd in het gratis ebook De grote Lowlands schrijfwedstrijd 2013.&nbsp;
      %a{ :target => "_blank", :href => "https://www.goodreads.com/reader/50379-de-grote-lowlands-schrijfwedstrijd-2013-de-twintig-beste-inzendingen" }> De twintig beste inzendingen
      , uitgegeven door Nijgh & Van Ditmar. De tekst verscheen later ook op de website van het cultureel webtijdschrijft&nbsp;
      %a{ :target => "_blank", :href => "http://www.barbarus.org/#!U-/cu6k/56150de10cf25fa7fe2bdefd" }> Barbarus
      ! .
    %p
      In de zomer van 2013 mocht ik op uitnodiging van 
      %a{ :target => "_blank", :href => "http://www.deburen.eu" } deBuren
      twee weken op schrijfresidentie in Parijs. Daar schreef ik twee teksten, het kortverhaal 
      %a{ :target => "_blank", :href => "http://www.deburen.eu/nl/nieuws-opinie/detail/de-stad-die-ophield-en-verdween" } 
        %strong De stad die ophield en verdween
      en een&nbsp;
      %a{ :target => "_blank", :href => "http://www.deburen.eu/nl/nieuws-opinie/detail/poezie-bij-het-memorial-de-la-shoah" }> gedichtencyclus
      ! .
    %p
      In 2014 publiceerde ik online de “novelle in feuilletonvorm”&nbsp;
      %strong> Kleine Opstand
      ! . Elke week verscheen een nieuw hoofdstuk van het verhaal online. Het – inmiddels volledige – verhaal is 
      %a{ :target => "_blank", :href => "https://kleineopstand.wordpress.com/about/" } hier
      te lezen.

.row    
  %article.note.col-xs-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2
    %h3 Poëzie
    %p
      Op dit moment werk ik in de eerste plaats aan poëzie. Hier en daar verschijnen er losse gedichten van mij in druk en daarnaast sta ik ook regelmatig met eigen werk op het podium. Online kan je werk van mij vinden op bijvoorbeeld de websites 
      %a{ :href => "http://www.hetgezeefdegedicht.be/2019-04.php", :target => "_blank" } Het gezeefde gedicht
      of&nbsp;
      %a{ :href => "http://azertyfactor.be/profiel-van-leen-verheyen/1733", :target => "_blank" }> Azertyfactor
      ! . 
    .vid
      .youtube{ :data => { :embed => "9dxEC-hSBtg" } }
        .play-button
                

.row
  %article.note.col-xs-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2
    %h3 Film
    %p
      Naast theater en proza werk ik ook occasioneel mee aan filmprojecten. Zo schreef ik samen met Jeroen Sebrechts het scenario voor de kortfilm&nbsp;
      %strong> Free Flow
      ! .
    .vid
      %div{ :style => "padding:56.25% 0 0 0;position:relative;" }
        %iframe.vimeo{ :data => { :src => "https://player.vimeo.com/video/68393693" }, :src => "", :style => "position:absolute;top:0;left:0;width:100%;height:100%;", :frameborder => "0", :webkitallowfullscreen => true, :mozallowfullscreen => true, :allowfullscreen => true }
      %script{ :src => "https://player.vimeo.com/api/player.js" } 
    %p
      Deze Hongaars-Belgisch-Finse coproductie werd geselecteerd voor verschillende filmfestivals en won in 2016 het Long Take Florence Film Festival.
 
.col-lg-6.hidden-xs.hidden-sm.hidden-md
  .tackWrapper.extraLeen
    = image_tag "leen.jpg", { :alt => "Leen Verheyen", :width => "100%", :height => "auto" }