footer {
	@include note;
	font-size: 14px;
	line-height: 1.75;
  padding: 2rem;
  margin-bottom: 3rem;
  text-align: center;	

  @include respond-below(sm) {
    .col-md-4{
      margin-top: 2.5rem;
    }
  }

  p {
    padding: 0;
    margin: 0;
  }

  .twit{
    display: inline-block;
  }
  
  // credits
  #website_by{
    font-family: Philosopher;
  }

  .copyright {
    .copy-symbol {
      vertical-align: text-top;
    }
  }

  &:before{ 
    @include tack_top_middle;
  }
  
  @include respond-above(sm) {
    &:before{ 
      @include tack_top_left;
    }
  }
  
  @include respond-above(sm) {
    &:after{ 
      @include tack_top_right;
    }
  }

}
