$icomoon-font-family: "Icomoon" !default;
$icomoon-font-path: "Icomoon" !default;

$icon-feather: "\e900";
$icon-pen: "\e908";
$icon-bin: "\e9ac";
$icon-eye-blocked: "\e9d1";
$icon-cancel-circle: "\ea0d";