// create a visual sheet of paper
@mixin note{
	padding: 4rem 3rem;
	background-color: white;
	box-shadow: 1px 1px 3px #555, -1px 1px 5px #555;
	position: relative;
}

// display image of tack in the top middle of sheet of paper
@mixin tack_top_middle{
	content: "";
	position: absolute;
	background-image: image-url("tack.png");
	width: 75px;
	height: 71px;
	top: 0;
	left: 50%;
	transform: translate(-60%, -35%);
}

// display image of tack in the top left of sheet of paper
@mixin tack_top_left{
	content: "";
	position: absolute;
	background-image: image-url("tack.png");
	width: 75px;
	height: 71px;
	top: 0;
	left: 0;
	transform: translate(-55%, -35%);
}

// display image of tack in the top right of sheet of paper
@mixin tack_top_right{
	content: "";
	position: absolute;
	background-image: image-url("tack.png");
	width: 75px;
	height: 71px;
	top: 0;
	right: 0;
	transform: translate(30%, -35%);
}

.note{
	@include note;
}

.note:before{
	@include tack_top_middle;

}