// create a visual sheet of paper
%note{
	margin: 50px auto;
	padding: 75px 50px;
	background-color: white;
	max-width: 650px;
	box-shadow: 1px 1px 3px #555, -1px 1px 5px #555;
	position: relative;
}

// display image of tack in the top middle of sheet of paper
%tack_top_middle{
	content: "";
	position: absolute;
	background-image: image-url("tack.png");
	top: -25px;
	left: 50%;
	width: 75px;
	height: 71px;
	transform: translateX(-60%);
}

// display image of tack in the top left of sheet of paper
%tack_top_left{
	content: "";
	position: absolute;
	background-image: image-url("tack.png");
	top: -25px;
	left: -40px;
	width: 75px;
	height: 71px;
}

// display image of tack in the top right of sheet of paper
%tack_top_right{
	content: "";
	position: absolute;
	background-image: image-url("tack.png");
	top: -25px;
	right: -20px;
	width: 75px;
	height: 71px;
}