@import "fonts";
@import "notes";
@import "header";
@import "footer";
@import "video";


body {
	font-family: 'Merriweather', georgia, serif;
  background-image: image-url("cork_small.jpg");	
	color: #222;
	font-size: 16px;
}

// links
a:link{
	color: lightseagreen;
}

a:active{
	text-shadow: 1px 1px #ccc;
}

a:visited{
	color: seagreen;
}

main {	
	line-height: 2;
	padding: 6rem 0;
}

// every article appears as if on a sheet of paper
article{
	@extend %note;
}

// add the tack to the article
article:after{
	@extend %tack_top_middle;
}

// images
.tack-wrapper{
	// centered wrapper to position the tacks, two for each image
	position: relative;
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);
}

.tack-wrapper:before{
	@extend %tack_top_left;
}

.tack-wrapper:after{
	@extend %tack_top_right;
}

// extra breeding room for 'eyecatcher'
.jumbotron{
	margin-bottom: 125px;
	padding: 0;
}

