// @import "fonts";
// @import "video";
@use "notes";
// @import "header";
// @import "footer";


body {
	font-family: 'Merriweather', georgia, serif;
  font-size: 16px;
	color: #222;
	background-image: image-url("cork_small.jpg");
}

// links
a:link{
	color: lightseagreen;
}
 a:active{
	text-shadow: 1px 1px #ccc;
}
a:visited{
	color: seagreen;
}

main {	
  line-height: 2;
	padding: 90px 0;
}

// every article appears as if on a sheet of paper
article{
	@extend %note;
}

// add the tack to the article
article:after{
	@extend %tack_top_middle;
}

// images
.tackWrapper{
	// centered wrapper to position the tacks, two for each image
	position: relative;
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);
}

.tackWrapper:before{
	@extend %tack_top_left;
}

.tackWrapper:after{
	@extend %tack_top_right;
}
