@import "media-queries";
@import "fonts";
@import "notes";
@import "header";
@import "footer";
@import "video";



body {
	font-family: 'Merriweather', georgia, serif;
  background-image: image-url("cork_small.jpg");	
	color: #222;
	font-size: 16px;
}

// links
a:link{
	color: lightseagreen;
}

a:active{
	text-shadow: 1px 1px #ccc;
}

a:visited{
	color: seagreen;
}

main {	
	line-height: 2;
	padding: 6rem 0;
}

// every article appears as if on a sheet of paper
article{
	@include note;
}

// add the tack to the article
article:after{
	@include tack_top_middle;
}

.jumbotron {
	position: relative;
	margin-bottom: 125px;
	padding: 0;
}

.jumbotron:before{
	@include tack_top_left;
}

.jumbotron:after{
	@include tack_top_right;
}

