@import "media-queries";
@import "fonts";
@import "notes";
@import "header";
@import "footer";
@import "video";


body {
	font-family: 'Merriweather', georgia, serif;
  background-image: image-url("cork_small.jpg");	
	color: #222;
	font-size: 16px;
	overflow: initial;
}

// links
a:link{
	color: lightseagreen;
}

a:active{
	text-shadow: 1px 1px #ccc;
}

a:visited{
	color: seagreen;
}

main {	
	line-height: 2;
	padding: 6rem 0;
}

.center {
	text-align: center;
}

// every article appears as if on a sheet of paper
article{
	@include note;
	margin-bottom: 45px;
}

// add the tack to the article
article:after{
	@include tack_top_middle;
}

.jumbotron {
	position: relative;
	margin-bottom: 125px;
	padding: 0;

	&:before{ 
    @include tack_top_middle;
  }
  
  @include respond-above(sm) {
    &:before{ 
      @include tack_top_left;
    }
  }
  
  @include respond-above(sm) {
    &:after{ 
      @include tack_top_right;
    }
  }
}

.flash-message {
	padding: 2.5rem 1.5rem 1rem;
	margin-top: 50px;

	h6 {
		text-transform: uppercase;
		font-variant: small-caps;
	}
}

.admin-actions{
	padding: 0.5rem 1rem 1rem;
	text-align: right;
}